<!DOCTYPE html>
<html lang="en">
<head>
  <title>Flask-APOD</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Flask-APOD</a>
    </div>
  </div>
</nav>

  <div class="jumbotron text-center">
        <h1>404 Error</h1>
        <h3>Invalid date entered</h3>
        <p>The date which you entered was in the future or in the past. Please enter correct date and try again</p>
        <a href="/" class="btn btn-success" role="button"><i class="fa fa-home"></i>Go to Home page</a>

  </div>
  

<footer class="footer bg-primary navbar-fixed-bottom">
        <div class="container text-center">
          <small>Developed by Vishal Balasubramanian</small>
        </div>
</footer>

</body>
</html>
